body,html{
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	background-color:black;
	height: 100%;
	width: 100%;
}
section{
	height: 100%;
	background-color: black;
}
section:before{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	margin-top: 100px;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right,#f00,#f00,#0f0,#0ff,#ff0,#0ff);
	mix-blend-mode: color;
}

video{
	object-fit: cover;
}

h1{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 70%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	color: #F7D9AD;
	font-size: 45px;
	font-family: sans-serif;
	letter-spacing: 5px;
}

h1 span{
	display: inline-flex;
	animation: animate 1s linear forwards;
}
@keyframes animate 
{
	0%
	{
		opacity: 1;
		transform: rotateY(90deg);
		filter: blur(10px);
	}
	100%
	{
		opacity: 1;
		transform: rotateY(0deg);
		filter: blur(0);
	}
}



h1 span:nth-child(1)
{
	opacity: 0;
	animation-delay: 1s;
}


h1 span:nth-child(2)
{
	opacity: 0;
	animation-delay: 2s;
}


h1 span:nth-child(3)
{
	opacity: 0;
	animation-delay: 2.5s;
}


h1 span:nth-child(4)
{
	opacity: 0;
	animation-delay: 3s;
}


h1 span:nth-child(5)
{
	opacity: 0;
	animation-delay: 4.5s;
}


.tab{
	overflow: hidden;
	background-color: black;

}
.tab button{
	color: #F6F598;
	background-color: inherit;
	float: center;
	text-align: center;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 12px 10px;
	font-size: 19px;
	font-family: sans-serif;
	margin-left: 20px;
	border-radius: 24px;
}
.tab button:hover{
	background-color: #4F1704;
}
.tab button:active{
	background-color: #AEAE91;
}


.first{
	margin-top: 0;
	padding: 0;
	position: absolute;
	background-image: url("work.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

.legend{
	color: #FEF4C1;
	margin-left: 10px;
	font-size: 25px;
}
.fieldset{
	width: 350px;
	height: 400px;
	margin-top: 200px;
	margin-left: 500px;
	border: none;
	outline: none;
}
.input{
	margin-top: 40px;
	margin-left: 40px;
	float: center;
	text-align: center;
	position: center;
	background-color: inherit;
	color: #DAD0DB;
	border-radius: 20px;
	cursor: pointer;
	outline: none;
	border-color: white;
}
.input input:hover{
	background-color: blue;
}
.input input:active{
	background-color: white;
}

/*for service page*/

